body {
    background-color: #ffffff;
    color: #000000;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 2px solid;
    box-shadow: 6px 4px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: 100%;
}

#container {
    background-color: #DDFFE7;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#nav {
    float: left;
    width: 200px;
    text-align: left;
    color: #FF0000;
    font-size: 14px;
}

#nav a {
    text-decoration: none;
    display: block;
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
}

#content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 5px outset #999;
}

.floatright {
    padding-left: 20px;
    float: right;
}

.floatleft {
    float: left;
    padding: 2px 30px 20px;
}

#footer {
    color: black;
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    margin-top: 25%;
    border-top: thin none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    color: #29A0B1;
    font-size: 28px;
    border-bottom: 1px none;
    margin-right: 20px;
}

h3 {
    color: #29A0B1;
    border-bottom: thin none;
    margin-right: auto;
    text-align: left;
    padding-right: 100px;
    padding-left: 100px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.content {
    color: white;
}

.delete {
    color: #FF0000;
    text-decoration: none;
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
}

.delete:hover {
    color: #FFFF00;
    background-color: #0000FF;
}

h4 {
    color: #29A0B1;
    line-height: 150%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

h1 {
    color: #29A0B1;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 36pt;
    text-align: center;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0;
    margin-bottom: 2%;
    margin-right: 15%;
    margin-left: 15%;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 120%;
    font-weight: bold;
    color: #000000;
}
specialh4 {
    line-height: 150%;
    margin-right: 20%;
    margin-left: 15%;
    text-align: center;
}

.cookieForm {
    background-color: #b8e9c7;
    display: inline-block;
    padding: 10px 10px 10px 2px;
    border: 2px solid;
}

.cookieFormContent {
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.formContent1 {
    padding: 10px;
    margin: 5px;
}

.viewCookies {
    background-color: #b8e9c7;
    padding: 10px;
    border: 2px solid;
    text-decoration: none;
    width: 5%;
}

.deleteCookies {
    background-color: #b8e9c7;
    color: #FF0000;
    padding: 10px;
    border: 2px solid;
    text-decoration: none;
}

.table {
    border: solid 1px #DDFFE7;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

.table thead th {
    font-style: italic;
    font-size: 14px;
    background-color: #DDFFE7;
    border: solid 1px black;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.table tbody td {
    border: solid 1px black;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
